= image_tag @recipe.image.url(:medium, class: "recipe-image")
%h1= @recipe.title
%p= simple_format @recipe.description

=link_to "Back", root_path, class: "btn btn-default"
- if current_user == @recipe.user
  =link_to "Edit", edit_recipe_path,  class: "btn btn-default"
  =link_to "Delete", recipe_path, method: :delete, data: {confirm: "Really?"}, class: "btn btn-primary"
- else
